---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Standings from "@components/standings.astro"
import { Picture } from "@astrojs/image/components";
import { getCompressedImage, WPResolution } from "Networking/wordpress";
import Secret from "../components/Secret.astro"

const imgRes = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/websitebilder?slug=millers")
const imgData = await imgRes.json()

// team=5 checks for the team 'millers'
const coachesRes = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/trainer?team=5")
const coachesData = await coachesRes.json()

const coaches = coachesData.map((coach) => (coach.acm_fields))

// Force unwrapping
const img = getCompressedImage(imgData[0].acm_fields.bild, WPResolution.full, imgData[0].acm_fields.beschreibung)!
---

<Layout title="Millers">
    {/* } Works as placeholder while image is loading */}
    <section class="relative w-full max-h-[calc(100vh_-_115px)] aspect-[4/3] linear-background">
        {/*  <img src={img.url} alt={img.alt} class="w-full max-h-[calc(100vh_-_115px)] object-cover"> */}
        <Picture
            src={img.url}
            alt="Ein Teamfoto der Minden Millers"
            widths={[400, 800, 1600]}
            sizes="100%"
            class="w-full max-h-[calc(100vh_-_115px)] object-cover"
            aspectRatio={img.width/img.height}
        />
        <div class="absolute bottom-0 w-full md:h-24 h-12 md:text-3xl text-xl text-white bg-gray-800/75 ">
            <h3 class="text-center my-auto align-middle md:leading-[6rem] leading-[3rem]">Herrenmannschaft</h3>
        </div>
    </section>
	
	<Container>

        {/* 
        <!-- Dieses feature existiert (scheinbar nur für unsere Liga) nicht -->
        <h3 class="text-lg">Rangliste der aktuellen Saison</h3>
        <section>
            <Standings url="https://bsm.baseball-softball.de/leagues/5275/table.json?api_key=Sm1o1iRAB2jB_U8xVUfpvw"/>
        </section>
        */}
        <h3 class="text-xl">Trainer</h3>
        <section class="flex flex-wrap gap-4 pb-4">
            {
                coaches.map((coach) => (
                    <div class="grow p-5 bg-slate-200 rounded">
                        <strong>{coach.name}</strong>
                        <p><Secret string={coach.email} link={"mailto:" + coach.email} nostyle={true} /></p>
                        {
                            (coach.telefon_nummer != "")
                            ? <p><Secret string={coach.telefon_nummer} link={"tel:" + coach.telefon_nummer} nostyle={true} /></p>
                            : <span></span>
                        }
                    </div>
                ))
            }
        </section>
	</Container>
</Layout>
