---
import Layout from '../../layouts/Layout.astro';
import Container from '@components/container.astro';
import { Icon } from 'astro-icon';
import { Picture } from "@astrojs/image/components";

const { slug } = Astro.params;

let res = await fetch(`https://wordpress.mindenmillers.de/wp-json/wp/v2/news?slug=${slug}`)
let [post] = await res.json();

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let data = await fetch("https://wordpress.mindenmillers.de/wp-json/wp/v2/news")
  let posts = await data.json();
  
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post: post },
  }));
}

function formatDate(date): string {
    return date.getDate() + "." + (date.getMonth()+1) + "." + date.getFullYear();
}
---
<Layout title={post.titel}>
  <Container class="h-full">
    <article class="max-w-screen-md mx-auto p-7 mb-7 bg-gray-200 shadow-xl rounded-lg h-full">

      <a href="/news" class="font-medium font-sans hover:underline text-gray-700 hover:text-gray-900"><Icon class="w-8 h-8 inline" name="uil:arrow-left" ></Icon>Alle News</a>

      <hr class="bg-gray-600 h-[3px] my-3">

      <div class="wordpress">
        
        <h1 class="text-2xl font-medium" set:html={post.acm_fields.titel} />
        <div class="flex text-slate-700 text-md mb-4 mt-2">
          <p class="">{ formatDate(new Date(post.date)) }</p>
          <p>{ (post.acm_fields.newsauthor != "") ? "●" + post.acm_fields.newsauthor : "" }</p>
        </div>

        {
          (post.acm_fields.coverBild.media_details != undefined)
          ? <Picture src={post.acm_fields.coverBild.source_url} alt={post.acm_fields.coverBild.alt_text} widths={[300, 656]} sizes="" aspectRatio={post.acm_fields.coverBild.media_details.width/post.acm_fields.coverBild.media_details.height} class="rounded-md mb-4" />
          : <span class="hidden"/>
        }
        <Fragment set:html={post.acm_fields.text} />

      </div>
      
    </article>

  </Container>
</Layout>