---
import { Image } from "@astrojs/image/components";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Container from "@components/container.astro";
import millersLogo from "/src/assets/millers/logo.png";
import Dropdown from "./dropdown.astro";
import { shouldShowCalendar } from "Networking/nav";

const menuitems = [
	{
		title: "Home",
		path: "/",
	},
	{
		title: shouldShowCalendar ? "Inhalte" : "News",
		path: shouldShowCalendar ? "#" : "/news/1",
		children: shouldShowCalendar
		? [
			{ title: "News", path: "/news/1", external: false },
			{ title: "Kalender", path: "/spiele", external: false },
		]
		: null,
	},
	{
		title: "Teams",
		path: "#",
		children: [
			{ title: "Millers", path: "/millers", external: false },
			{ title: "Maniacs", path: "/maniacs", external: false },
		],
	},
	{
		title: "Verein",
		path: "#",
		children: [
			{
				title: "Baseballpark - Millers Park",
				path: "/millers-park",
				external: false,
			},
			{
				title: "Baseballcamp",
				path: "https://www.instagram.com/baseballcampminden/",
				external: true,
			},
			{ title: "Historisches", path: "/geschichte", external: false },
		],
	},
	{
		title: "Sponsoren",
		path: "/sponsoren",
	},
	{
		title: "Vorstand",
		path: "#",
		children: [
			{ title: "Vorstand Minden Bandits", path: "/vorstand", external: false },
			{ title: "Mitgliedsantrag", path: "/mitgliedsantrag.pdf", external: false },
		]
	},
	{
		title: "Kontakt",
		path: "/kontakt",
	},
];

const path = Astro.url.pathname.toString()
---
<Astronav
	class="justify-between items-center p-5 m-5 ">
	<div class="lg:grid lg:grid-cols-[auto_auto] p-4 items-center bg-gray-800">
		<div class="flex grid-col-1 w-full lg:w-auto items-center justify-between m-4">
			<a href="/" class="text-lg">
				<Image
					src={millersLogo}
					width={125}
					alt="Das logo der Minden Millers"
				/>
			</a>
			<div class="block lg:hidden pr-4">
				<MenuIcon class="w-6 h-6 text-nav-a" />
			</div>
		</div>
		<MenuItems
			class="hidden grid-col-2 hover:auto w-full lg:w-auto mt-2 lg:flex lg:mt-0 ml-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item, index) => (
						<>
							{item.children && (
								<Dropdown
									title={item.title}
									children={item.children}
									lastItem={index === menuitems.length - 1}
								/>
							)}

							{!item.children && (
								<li>
									<a
										href={item.path}
										class:list={[
											"flex lg:px-3 py-2 text-nav-a hover:text-millers-gold",
											(path == item.path)
												? "text-yellow-300"
												: ""
										]}>
										{item.title}
									</a>
								</li>
							)}
						</>
					))
				}
			</ul>
		</MenuItems>
	</div>
</Astronav>